@import "vars";

@font-face {
  font-family: 'OpenSans-Light';
  src:
    // url('icomoon.eot?#iefix') format('embedded-opentype'),
    // url('icomoon.svg#icomoon') format('svg'),
    // url('icomoon.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

html, body, ul {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans-Light';
}

h1, h2, h3, h4, h5, h6 {
  color: $h1_color;
}

h1 {
  font-weight: normal;
  margin: 20px 30px 10px 60px;
  font-size: 5em;
}

h2 {
  font-weight: normal;
  margin: 20px 30px 10px 60px;
  font-size: 3em;
}
h2.quote {
  font-size: 2.8em;
}

a {
  color: $anchor_color_default;
  text-decoration: none;
  &:hover { color: $anchor_color_default_hover;}
  &.light {
    color: $anchor_color_light;
    &:hover { color: $anchor_color_light_hover;}
  }
}

.icon {
  color: $anchor_color_default;
  fill: $anchor_color_default;
}

.vertical-middle {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.clear{
  clear:both;
}

.hidden {
  display: none;
}


.collection {
  text-align: center;
  width: 100%;
}

.descriptions {
  margin: 20px 30px 10px 100px;
  h4 {
    margin-bottom: 10px;
  }
}
.descriptions-l {
  font-size: 1.3em;
}
.descriptions-xl {
  font-size: 1.6em;
}

.block { display: block; }
.inline-block { display: inline-block; }
.left { float: left; }
.right { float: right; }
.border-left { border-left: 1px solid $border_color_light}
.border-right { border-right: 1px solid $border_color_light}


// @media all and (min-width: 786px) and (max-width: 1210px){
//   .collection{
//     max-width: 786px;
//   }
// }

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

