.featherlight-content {
  // min-width: 660px;
  // min-height: 350px;
}

.featherlight-content iframe {
  width: 660px;
  height: 522px;
  display: inline-block !important; //needed so iframe has a size
}

// .featherlight-iframe {
//   display: block;
// }
