@import "mixins/nav_but_colors";
@import "mixins/nav_but_text";
@import "vars";

.main-nav {
  @include menu_color;
  height: 70px;
  border-bottom: 1px solid $border_color_light;
  overflow: hidden;

  li {
    list-style: none;
    /*border-right: 1px solid #eaeaea;*/
  }

  .nav-but {
    @include but_text;
    display: block;
    height: 70px;               /* total height: 70px */
    padding: 15px 30px;
    // &.symbol {padding-top: 23px;}

    &:hover { cursor: pointer; }
    &.dark { @include dark_colors; }
    &.light { @include light_colors; }
    &.large { font-size: 1.2em;}
  }

  .icon-highlight {
    fill: $icon-highlight-color;
  }

  .flicker-animation {
    @keyframes flickerAnimation {
      0%   { opacity:1; }
      30%  { opacity:1; }
      35%  { opacity:0; }
      60%  { opacity:0; }
      65%  { opacity:1; }
      100% { opacity:1; } 
    }
    @-o-keyframes flickerAnimation{
      0%   { opacity:1; }
      30%  { opacity:1; }
      35%  { opacity:0; }
      60%  { opacity:0; }
      65%  { opacity:1; }
      100% { opacity:1; } 
    }
    @-moz-keyframes flickerAnimation{
      0%   { opacity:1; }
      30%  { opacity:1; }
      35%  { opacity:0; }
      60%  { opacity:0; }
      65%  { opacity:1; }
      100% { opacity:1; } 
    }
    @-webkit-keyframes flickerAnimation{
      0%   { opacity:1; }
      30%  { opacity:1; }
      35%  { opacity:0; }
      60%  { opacity:0; }
      65%  { opacity:1; }
      100% { opacity:1; } 
    }
    & {
      -webkit-animation: flickerAnimation 1.5s infinite;
      -moz-animation: flickerAnimation 1.5s infinite;
      -o-animation: flickerAnimation 1.5s infinite;
        animation: flickerAnimation 1.5s infinite;
    }
  }

  .tune-pipe-position {
    position: relative;
    top: -6px;
    left: -2px;
    font-size: 0.8em;
  }
}/*.main-nav*/


