$border_color_light: #eaeaea;

// light color button
$bg_color_light: #f4f4f4;
$bg_color_light_hover: #fff;

$text_color_dark: #666;
$text_color_dark_hover: #4c5570;

// dark color button
$bg_color_dark: #4c5570;
$bg_color_dark_hover: #444;

$text_color_light: #eee;
$text_color_light_hover: #eee;

// 3Dgraphics box size
$tdgraphics_image_width: 270px;
$tdgraphics_image_hight: 215px;

// RealTime graphics box size
$rtgraphics_image_width: 270px;
$rtgraphics_image_hight: 215px;

// WebApps graphics box size
$wagraphics_image_width: 450px;
$wagraphics_image_hight: 300px;


$h1_color: #4c5570;
