@import "../vars";

@mixin menu_color {
  background-color: $bg_color_light;
}

@mixin dark_colors {
  background-color: $bg_color_dark;
  color: $text_color_light;

  &:hover{
    background-color: $bg_color_dark_hover;
    color: $text_color_light_hover;
  };
}


@mixin light_colors {
  background-color: $bg_color_light;
  color: $text_color_dark;

  &:hover{
    background-color: $bg_color_light_hover;
    color: $text_color_dark_hover;
  };
}
